body {
    font-family: Roboto, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #b003a8, #e76705);
}

h2 {
    text-align: center;
}

header {
    background-color: #0e27e1;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

#container {
    display: inline-block;
    justify-content: center;
}

main {
    margin: 40px auto;
    max-width: none;
    padding: 0;
}

#scoreboard {
    max-width: 300px;
    margin: auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    margin-bottom: 10px;
}

#game-content {
    flex-grow: 1;
    background: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .1);
    max-width: 400px;
}

table {
    border: solid 1.5px;
}

#game {
    margin-bottom: 20px;
}

button {
    padding: 15px 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: #0e27e1;
    color: #fff;
    transition: transform .2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin:5px;
}

button:hover {
    background-color: #4d55e2;
    transform: scale(1.1);
}

button i {
    margin-right: 10px;
}

#result {
    margin-top: 20px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#message {
    font-size: 1.2em;
    animation: fadeIn 1s ease-in-out;
}

#score {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 20px;
}

/* Center the text in table cells */
#scoreboard table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}

#scoreboard td, #scoreboard th {
    padding: 10px;
    border: 1px solid #ddd;
}

#scoreboard th {
    background-color: #0e27e1;
    color: #fff;
}

#scoreboard-body tr:nth-child(even) {
    background-color: #f2f2f2;
}

#win-ratio, #win-percentage, #games-played {
    font-weight: 700;
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#final-message {
    font-size: 1.5em;
    font-weight: bold;
}


@media (max-width: 767px) {
    header {
        padding: 8px 0;
        font-size: small;
    }

    #container {
        flex-direction: column;
        align-items: center;
    }

    #scoreboard {
        margin-right: auto;
        margin-bottom: 20px;
        margin-top:-30px;
        width: 100%;
        padding:5px;
    }

    button {
        width: 70%;
        margin: 5px 0;
        padding: 10px;
        text-align: center;
    }

    #game-content{
        padding:5px;
        max-width:350px;
    }
}

